<h1>Places</h1>

  <div class="list-group">
      <ol>
        <% for place in @places %>
          <li><a href="/places/<%= place["id"] %>" class="list-group-item" ><%= place["name"] %></a></li>
          <%end%>
      </ol>
   </div>

<p>
  <a href="/places/new">New place</a>
</p>